{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Resources cards to download/purchase</h1>
    {{ teachers }}
    {{ classes }}
    <div class="row">
        {% for class in classes %}
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ class.class_name }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}