{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="scrolling-wrapper text-center">
            {% for teacher in teachers %}
                <div class="card border-0 ml-1 mr-1"><p>{{ teacher.first_names }}</p></div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for class in classes %}
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="card mb-4 .rounded-lg">
                <div class="card-header main-color-1-bg text-light">
                    {{ class.class_subject }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ class.class_name }}</h5>
                    <small>{{ class.class_year }}</small>
                    <p class="card-text">By: {{ class.added_by }}</p>
                    <div class="text-right">
                        <a class="btn btn-sm main-color-2-bg text-light" href="">Join this class</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}