{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <!-- check if user is logged in -->
            {% if user.is_authenticated %}
                <h3 class="mb-3">Class name</h3>
                {% if user_type == "teacher" %}
                <div class="row">
                    <div class="col-md-6 text-center mb-2">
                        <button class="btn btn-lg main-color-1-bg text-light" type="button" data-toggle="collapse" data-target="#edit_class_form" aria-expanded="false" aria-controls="edit_class_form">Edit class details</button>
                    </div>
                    <div class="col-md-6 text-center mb-2">
                        <button class="btn btn-lg main-color-1-bg text-light" type="button" data-toggle="collapse" data-target="#add_material_form" aria-expanded="false" aria-controls="add_material_form">Add material to this class</button>
                    </div>
                </div>
                <div class="row">
                    <!-- edit class form -->
                    <div class="col-md-6 mb-3">
                        <div class="collapse multi-collapse" id="edit_class_form">
                        <div class="card card-body">
                            <form method="POST" action="{% url 'class_detail' class.id %}">
                                {% csrf_token %}
                                <div class="crispy-form-fields">
                                    {% for field in form %}
                                    {{ field | as_crispy_field }}
                                    {% endfor %}
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" name="edit_class_form" class="btn btn-lg main-color-2-bg text-light">
                                    <i class="fas fa-save"></i>
                                    Save changes
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                    <!-- add material form -->
                    <div class="col-md-6 mb-3">
                        <div class="collapse multi-collapse" id="add_material_form">
                        <div class="card card-body">
                            <form method="POST" action="{% url 'class_detail' class.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="crispy-form-fields">
                                {% for field in form_upload %}
                                    {{ field | as_crispy_field }}
                                {% endfor %}
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" name="add_material_form" class="btn btn-lg main-color-2-bg text-light">
                                        <i class="fas fa-plus-square"></i>
                                        Upload material
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
                    {% if class_materials %}
                    <div class="list-group mb-3">
                        {% for material in class_materials %}
                        <a href="" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ material.name }}</h5>
                            <small>{{ material.doc }}</small>
                          </div>
                          <p class="mb-1">{{ material.desc }}</p>
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="card card-body">
                        <h5 class="text-center">You have not uploaded any materials for this class yet</h5>
                    </div>
                    {% endif %}
                {% else %}
                    <h5>Only teachers can access this page</h5>
                {% endif %}
            {% else %}
            <!-- if user not logged in -->
                <h2>You are not logged in</h2>
                <hr>
                <h3>You need to <a class="main-color-1 main-color-1-hover" href="{% url 'account_signup' %}">sign up</a> to
                    be able to access classes</h3>
                <h3>Already have an account? <a class="main-color-1 main-color-1-hover" href="{% url 'account_login' %}">log
                        in</a></h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}