{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <!-- check if user is logged in -->
            {% if user.is_authenticated %}
                <h3 class="mb-3">Welcome, {{ lname }}</h3>
                {% if user_type == "teacher" %}
                    <p>
                    <button class="btn btn-lg main-color-1-bg text-light" type="button" data-toggle="collapse"
                        data-target="#collapse-create-class" aria-expanded="false" aria-controls="collapse-create-class">
                        <i class="fas fa-pen"></i>
                        Create a new class
                    </button>
                    </p>
                    <div class="collapse" id="collapse-create-class">
                        <div class="">
                            create class form goes here
                            <form method="POST" action="{% url 'myclasses' %}">
                                <div class="col-md-6">
                                  {% csrf_token %}
                                  <div class="crispy-form-fields">
                                    {% for field in form %}
                                    {{ field | as_crispy_field }}
                                    {% endfor %}
                                  </div>
                                  <div class="form-group col-md-6 text-center">
                                    <button type="submit" class="btn btn-lg main-color-2-bg text-light">
                                      <i class="fas fa-plus-square"></i>
                                      Create class
                                    </button>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if all_classes %}
                    <!-- list of all classes by created by that teacher -->
                    <div class="list-group">
                        {% for class in all_classes %}
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ class.class_name }}</h5>
                            <small>{{ class.class_subject }}</small>
                          </div>
                          <p class="mb-1">Level: {{ class.class_level }} Group: {{ class.class_division }} Year: {{ class.class_year }}</p>
                          <small>{{ class.class_university }}/{{ class.class_collage }}</small>
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                        <h5>You have not created any classes yet</h5>
                    {% endif %}
                {% else %}
                    <button class="btn btn-lg main-color-1-bg text-light">
                        <i class="fas fa-sign-in-alt"></i>
                        Join a class
                    </button>
                {% endif %}
            {% else %}
            <!-- if user not logged in -->
                <h2>You are not logged in</h2>
                <hr>
                <h3>You need to <a class="main-color-1 main-color-1-hover" href="{% url 'account_signup' %}">sign up</a> to
                    be able to access classes</h3>
                <h3>Already have an account? <a class="main-color-1 main-color-1-hover" href="{% url 'account_login' %}">log
                        in</a></h3>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}