{% extends "base.html" %}
{% block content %}

<div class="container">
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col">
        <!-- check if all user details fields are filled -->
        {% if account.first_names != None %}
          {% if account.last_name != None %}
            {% if account.user_type != None %}
              <h3 class="mb-3">Welcome, {{ account.last_name }}</h3>
            {% else %}
              <p>Please, make sure to fill in the <strong>User type</strong> field.</p>
            {% endif %}
            {% else %}
            <p>Please, make sure to fill in the <strong>Last name</strong> field.</p>
            {% endif %}
          {% else %}
          <p>Please, make sure to fill in the <strong>First names</strong> field.</p>
        {% endif %}
        <p>
          <button class="btn btn-lg main-color-2-bg text-light" type="button" data-toggle="collapse"
            data-target="#collapse-user-details" aria-expanded="false" aria-controls="collapse-user-details">
            <i class="fas fa-user-edit"></i>
            Edit my details
          </button>
        </p>
        <div class="collapse" id="collapse-user-details">
          <div class="card card-body">
            <p class="text-secondary">Enter your details below:</p>
            <!-- User details form -->
            <form method="POST" action="{% url 'myaccount' %}">
              <div class="col-md-6">
                {% csrf_token %}
                <div class="crispy-form-fields">
                  {% for field in form %}
                  {{ field | as_crispy_field }}
                  {% endfor %}
                </div>
                <div class="form-group col-md-6 text-center">
                  <button type="submit" class="btn btn-lg main-color-2-bg text-light">
                    <i class="fas fa-pen"></i>
                    Update details
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <!-- main functions (create/join class) -->
    <div class="row">
      <div class="col-md-6">
        <h3><i class="fas fa-tasks"></i> My dashboard</h3>
        <div class="card card-body">
          <p>Assignments/homework/deadlines</p>
        </div>
      </div>
      <div class="col-md-6">
        <h3><i class="fas fa-book"></i> My resources</h3>
        <div class="card card-body">
          <p>all relevent resources</p>
        </div>
      </div>
    </div>
  {% else %}
    <h2>You are not logged in</h2>
    <hr>
    <h3>You need to <a class="main-color-1 main-color-1-hover" href="{% url 'account_signup' %}">sign up</a> to be able to access classes</h3>
    <h3>Already have an account? <a class="main-color-1 main-color-1-hover" href="{% url 'account_login' %}">log in</a></h3>
  {% endif %}
</div>
{% endblock %}