{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <!-- check if all user details fields are filled -->
      {% if account.first_names != None %}
        {% if account.last_name != None %}
          {% if account.user_type != None %}
            <h3 class="mb-3">Welcome, {{ account.last_name }}</h3>
          {% else %}
            <p>Please, make sure to fill in the <strong>User type</strong> field.</p>
          {% endif %}
        {% else %}
          <p>Please, make sure to fill in the <strong>Last name</strong> field.</p>
        {% endif %}
      {% else %}
        <p>Please, make sure to fill in the <strong>First names</strong> field.</p>
      {% endif %}
      <p>
        <button
          class="btn btn-lg main-color-2-bg text-light"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Edit my details
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p class="text-secondary">Enter your details below:</p>
          <!-- User details form -->
          <form method="POST" action="{% url 'myaccount' %}">
            <div class="col-md-6">
              {% csrf_token %}
              <div class="crispy-form-fields">
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
              </div>
              <div class="form-group col-md-6 text-center">
                <button
                  type="submit"
                  class="btn btn-lg main-color-2-bg text-light"
                >
                  Update details
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ account.first_names }}<br />
      join a class
    </div>
    <div class="col">my current classes</div>
  </div>
</div>
{% endblock %}
